<html>
<head>
    <meta charset="UTF-8">
    <link rel="icon" href="/assets/images/logo1.png" type="image/png">
    <title> HMP Home </title>
    <link rel="stylesheet" href="/assets/fonts/googleapis.css">
    <link rel="stylesheet" href="/src/css/home.css">
</head>

<body>

    <!-- Header -->
    <div class="header">
        <div class="logo">
            <img alt="Logo" src="/assets/images/logo2.png" />
            <span> HMPSign </span>
        </div>
        <div class="dangxuat">
            <img alt="Avatar" src="/assets/images/avatar.jpg" />
            <button> Tên người dùng <span class="dropdown-arrow"></span></button>
            <div class="dropdown-content">
                <a href="#" onclick="showSection('caidat')"><i class="fas fa-cog"></i> Cài đặt </a>
                <a href="/src/index.html"><i class="fas fa-sign-out-alt"></i> Đăng xuất </a>
            </div>
        </div>
        
    </div>

    <!--Content -->
    <div class="container">
        <!-- Sidebar -->
        <div class="sidebar">
            <div class="information">
                <img alt="User profile picture" src="/assets/images/avatar.jpg"/>
                <div class="text">
                    <h2>Tên người dùng</h2>
                    <p>Tên tài khoản</p>
                </div>
            </div>
            <ul>
                <li><a href="#" onclick="showSection('bangdieukhien')"><i class="fas fa-tachometer-alt"></i> Bảng điều khiển </a></li>
                <li><a href="#" onclick="showSection('dangky')"><i class="fas fa-paper-plane"></i> Đăng ký chữ ký số </a></li>
                <li><a href="#" onclick="showSection('quanly')"><i class="fas fa-folder"></i> Xem chữ ký số </a></li>
                <li><a href="#" onclick="showSection('xacminh')"><i class="fas fa-file-alt"></i> Xác minh văn bản </a></li>
                <li><a href="#" onclick="showSection('caidat')"><i class="fas fa-cog"></i> Cài đặt </a></li>
                <!-- <li><a href="#"><i class="fas fa-pen"></i> Ký tài liệu  </a></li> -->
            </ul>

            <!-- <div class="social-icons">
                <a href="#"><i class="fab fa-github"></i></a>
                <a href="#"><i class="fab fa-linkedin"></i></a>
                <a href="#"><i class="fab fa-xing"></i></a>
                <a href="#"><i class="fab fa-discord"></i></a>
            </div> -->
        </div>
        
        <!-- Main content -->
        <div class="main-content">

            <!-- Content sidebar bảng điều khiển -->
            <div id="bangdieukhien" class="content-section active sb0-bangdieukhien">
                <div class="card">
                    <div class="icon">
                        <i class="fas fa-paper-plane"></i>
                    </div>
                    <h3> Yêu cầu chữ ký </h3>
                </div>

                <div class="card">
                    <div class="icon">
                        <i class="fas fa-folder"></i>
                    </div>
                    <h3> Xem chữ ký </h3>
                </div>
                
                <div class="card">
                    <div class="icon">
                        <i class="fas fa-file-alt"></i>
                    </div>
                    <h3> Xác minh văn bản </h3>
                    <!-- <div class="data"> 0 </div> -->
                </div>
     
                <div class="card">
                    <h3> Các yêu cầu chữ ký gần đây </h3>
                    <table class="table">
                        <thead>
                            <tr>
                                <th> Tiêu đề </th>
                                <th> Tệp </th>
                                <th> Chủ sở hữu </th>
                                <th> Người kí </th>
                            </tr>
                        </thead>
                        
                        <tbody>
                            <tr>
                                <td class="no-data" colspan="4"> Chưa có dữ liệu </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
     
                <div class="card">
                    <h3> Các tài liệu đã kí gần đây </h3>
                    <table class="table">
                        <thead>
                            <tr>
                                <th> Tiêu đề </th>
                                <th> Tệp </th>
                                <th> Chủ sở hữu </th>
                                <th> Người kí </th>
                            </tr>
                        </thead>

                        <tbody>
                            <tr>
                                <td> ... </td>
                                <td><a href="#"> Tải xuống </a></td>
                                <td> ... </td>
                                <td><a href="#"> Xem </a></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>

            <!-- Content sidebar đăng ký -->
            <div id="dangky" class="content-section sb1-dangky">
                <div>
                    <h1> Đăng ký chữ ký số </h1>
                </div>
            </div>
    
            <!-- Content sidebar quản lý -->
            <div id="quanly" class="content-section sb2-quanly">
                <div>
                    <h1> Xem chữ ký số </h1>
                </div>
            </div>
    
            <!-- Content sidebar xác minh -->
            <div id="xacminh" class="content-section sb3-xacminh">
                <div>
                    <h1> Xác minh văn bản </h1>
                </div>
            </div>
    
            <!-- Content sidebar cài đặt -->
            <div id="caidat" class="content-section sb4-caidat">
                <div>
                    <h1> Cài đặt </h1>
                </div>
            </div>

        </div>
    </div>

    <script src="/src/js/script.js"></script>

</body>
</html>
