<html>
<head>
    <link rel="icon" href="/assets/images/logo1.png" type="image/png">
    <title> Đăng nhập </title>
    <link rel="stylesheet" href="/assets/fonts/googleapis.css">
    <link rel="stylesheet" href="/src/css/login.css">
</head>

<body>
    <div class="container">
        <div class="left">
            <div class = "left-logo">
                <img alt="Logo" height="100" src="/assets/images/logo2.png" width="100"/>
            </div>
            <h2 style="text-align: center;"> Đăng nhập HMPSign</h2>
            <!-- <p style="text-align: center; color: #666;"> Chào mừng trở lại. Đăng nhập để bắt đầu làm việc.</p> -->
            
            <form>
                <div class="form-group">
                    <label for="username"> Tài khoản </label>
                    <input id="username" placeholder="Tài khoản của bạn" type="text"/>
                </div>
                <div class="form-group">
                    <label for="password"> Mật khẩu </label>
                    <input id="password" placeholder="Mật khẩu của bạn" type="password"/>
                    <a href="#"> Quên mật khẩu? </a>
                </div>
                <div class="checkbox-group">
                    <input id="remember" type="checkbox"/>
                    <label for="remember"> Giữ tôi luôn đăng nhập </label>
                </div>
                <div class="button-container">
                    <button class="btn btn-dangnhap" type="button" onclick="location.href='/src/components/home.html'">Đăng nhập</button>
                    <button class="btn btn-dangky" type="button" onclick="location.href='#'">Tạo tài khoản</button>
                </div>
            </form>
        
            <div class="sso">
                <p> Hoặc </p>
                <div class="sso-buttons">
                    <button>
                        <span class="icon"><i class="fab fa-google"></i></span>
                        <span class="text">Đăng nhập bằng Google</span>
                    </button>
                    <button>
                        <span class="icon"><i class="fab fa-microsoft"></i></span>
                        <span class="text">Đăng nhập bằng Microsoft</span>
                    </button>
                    <button>
                        <span class="icon"><i class="fab fa-facebook"></i></span>
                        <span class="text">Đăng nhập bằng Facebook</span>
                    </button>
                </div>
            </div>
            
        </div>
        
        <!-- <div class="right">
            <img alt="Background Logo" height="100" src="https://storage.googleapis.com/a1aa/image/QBgepgHDcbTHPagdLYEJWIfNI0s80O3B1xdPzoGTkMzEVawTA.jpg" width="100"/>
        </div> -->
    </div>

</body>
</html>