body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f5f5f5;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
    padding: 10px 20px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}
.header .logo {
    display: flex;
    align-items: center; 
}
.header .logo img{
    width: 65px;
    height: 65px;
}
.header .logo span {
    font-weight: bold;
    font-size: 30;
    color: blue;
}
.header .dangxuat {
    position: relative; 
    display: flex;
    align-items: center; 
}
.header .dangxuat img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
}
.header .dangxuat button {
    border-color: blue;
    padding: 10px 10px 10px 15px;
    margin-left: 10px;
    border-radius: 10px;
    font-size: 15px;
    display: flex; 
    align-items: center; 
}
.header .dangxuat .dropdown-arrow {
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 5px solid black;
    margin-left: 10px;
}

.header .dangxuat .dropdown-content {
    display: none;
    position: absolute;
    background-color: white;
    width: 150px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    z-index: 1;
    border-radius: 5px;
    top: 100%;
    right: 0;
}

.header .dangxuat:hover .dropdown-content {
    display: block;
}

.header .dangxuat .dropdown-content a {
    text-decoration: none;
    color: black;
    padding: 10px;
    display: block;
}

.header .dangxuat .dropdown-content a:hover {
    background-color: #f1f1f1;
}


.container {
    display: flex;
    height: 100vh;
}
.sidebar {
    width: 250px;
    background-color: rgb(211, 207, 250);
    padding: 20px;
    box-shadow: 2px 0 5px rgba(0,0,0,0.1);
}
.sidebar .information {
    display: flex; 
    align-items: center; 
    gap: 15px; 
}
.sidebar .information img {
    width: 80px;
    height: 80px;
    border-radius: 50%;
}
.sidebar .information .text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 15px;
}
.sidebar .information h2 {
    font-size: 18px;
    margin: 0;
}
.sidebar .information p {
    font-size: 14px;
    color: #666;
}

.sidebar ul {
    list-style: none;
    padding: 0;
    margin-top: 60px;
}
.sidebar ul li {
    margin: 40px 0;
}
.sidebar ul li a {
    text-decoration: none;
    color: #333;
    font-size: 16px;
    display: flex;
    align-items: center;
}
.sidebar ul li a i {
    margin-right: 10px;
}
/* .sidebar .social-icons {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}
.sidebar .social-icons a {
    color: #333;
    font-size: 20px;
} */

.main-content {
    flex: 1;
    padding: 30px;
    background-color: #e0f0ff;
}

.main-content .content-section {
    display: none;
}
.main-content .content-section.active {
    display: flex;
}

.sb0-bangdieukhien {
    display: flex;
    /* flex-wrap: wrap; Dành cho nằm ngang*/
    flex-direction: column; /* Đặt các card nằm dọc */
    align-items: center;    /* Căn giữa theo chiều ngang */
    justify-content: center; /* Căn giữa theo chiều dọc */
    gap: 20px;
    margin-top: 10px;
}
.sb0-bangdieukhien .card {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    /* flex: 1; Dành cho nằm ngang
    min-width: 350px; */
    min-width: 450px;
    margin: 0px 0px 30px 0px;
    text-align: center;
}
.sb0-bangdieukhien .card a {
    text-decoration: none;
    color: black;
}
.sb0-bangdieukhien .card .icon {
    font-size: 40px;
    margin-bottom: 10px;
}
.sb0-bangdieukhien .card h3 {
    font-size: 18px;
    margin-bottom: 10px;
}
.sb0-bangdieukhien .card .data {
    font-size: 24px;
    font-weight: bold;
}
.sb0-bangdieukhien .table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}
.sb0-bangdieukhien .table th, .table td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}
.sb0-bangdieukhien .table th {
    background-color: #f5f5f5;
}
.sb0-bangdieukhien .table td a {
    color: #007bff;
    text-decoration: none;
}
.sb0-bangdieukhien .table .no-data {
    text-align: center;
    padding: 20px;
    color: #666;
}

.sb1-dangky {
    display: flex;
    flex-wrap: wrap;
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.sb1-dangky .left-dangky {
    background-color: #d9eaf7;
    padding: 40px;
    flex: 1;
    min-width: 300px;
}
.sb1-dangky .left-dangky h1 {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
}
.sb1-dangky .left-dangky p {
    font-size: 16px;
    margin-bottom: 20px;
}
.sb1-dangky .left-dangky ul {
    list-style-type: disc;
    padding-left: 20px;
}
.sb1-dangky .left-dangky ul li {
    margin-bottom: 10px;
    padding: 10px 0px;
}
.sb1-dangky .left-dangky a {
    color: #007bff;
    text-decoration: none;
}
.sb1-dangky .right-dangky {
    padding: 40px 40px 10px 60px;
    flex: 1;
    min-width: 300px;
}
.sb1-dangky .right-dangky form {
    display: flex;
    flex-wrap: wrap;
}
.sb1-dangky .right-dangky form .form-group-special {
    width: 94%;
    margin-bottom: 20px;
}
.sb1-dangky .right-dangky form .form-group {
    width: 100%;
    margin-bottom: 20px;
}
.sb1-dangky .right-dangky form .form-group.half {
    width: 45%;
    padding-right: 20px;
}
/* .sb1-dangky .right-dangky form .form-group.half select{
}
.sb1-dangky .right-dangky form .form-group.half select option{
} */
.sb1-dangky .right-dangky form label {
    display: flex;
    margin-bottom: 10px;
    font-weight: bold;
}
.sb1-dangky .right-dangky form input,
.sb1-dangky .right-dangky form select {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}
.sb1-dangky .right-dangky form button {
    width: 94%;
    padding: 15px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
}
.sb1-dangky .right-dangky form button:hover {
    background-color: #0056b3;
}

.sb2-quanly {
    width: 90%;
    margin: 20px auto;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}
.sb2-quanly table {
    width: 100%;
    border-collapse: collapse;
}
.sb2-quanly th, td {
    padding: 12px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}
.sb2-quanly th {
    background-color: #f2f2f2;
    font-weight: bold;
}
.sb2-quanly tr:hover {
    background-color: #f1f1f1;
}
.sb2-quanly a {
    color: #007bff;
    text-decoration: none;
}
.sb2-quanly a:hover {
    text-decoration: underline;
}
.sb2-quanly .dmodal2 {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    /* overflow: auto; */
    background-color: rgba(0, 0, 0, 0.5);
}
.sb2-quanly .dmodal2-content {
    background-color: #fff;
    margin: 130px auto;
    padding: 20px 20px 0px 20px;
    border: 1px solid #888;
    width: 50%;
    border-radius: 10px;
    /* text-align: left; */
}
.sb2-quanly .dmodal2-content h3{
    font-size: 20px;
    text-align: center;
}
.sb2-quanly .dmodal2-content p{
    text-align: left;
    padding: 5px 0px 10px 20px;
}
.sb2-quanly .dmodal2 .dclose2 {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}

.sb2-quanly .dmodal2 .dclose2:hover,
.sb2-quanly .dmodal2 .dclose2:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.sb3-xacminh {
    display: flex;
    /* justify-content: center;
    align-items: center;     */
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
    background-color: #d9eaf7;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.sb3-xacminh .section-xacminh {
    margin-top: 20px;
    margin-bottom: 20px;
    width: 40%; /* Mỗi phần chiếm 45% chiều rộng */
    margin: 10px 0 10px 60px; 
}
.sb3-xacminh .section-xacminh h2 {
    margin: 10px 0 10px 0;
    font-size: 20px;
    color: #000;
}
.sb3-xacminh .section-xacminh .form-group {
    margin-bottom: 10px;
}
.sb3-xacminh .section-xacminh .form-group label {
    margin-bottom: 5px;
    font-size: 16px;
    color: #000;
}
.sb3-xacminh .section-xacminh .form-group input[type="text"] {
    width: calc(100% - 60px);
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-right: 10px;
}
.sb3-xacminh .section-xacminh .form-group input[type="file"] {
    width: calc(100% - 60px);
    padding: 10px 10px 10px 0px;
    font-size: 16px;
    /* border: 1px solid #ccc; */
    /* border-radius: 5px; */
    margin-right: 10px;
}
.sb3-xacminh .section-xacminh .form-group button {
    padding: 10px 20px;
    margin-top: 5px;
    margin-bottom: 5px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    background-color: #ccc;
    color: #000;
    cursor: pointer;
}
.sb3-xacminh .section-xacminh .form-group button i {
    margin-left: 5px;
}
.sb3-xacminh .section-xacminh .form-group .actions {
    display: flex;
    justify-content: flex-end;
}
.sb3-xacminh .section-xacminh .form-group .actions button {
    margin-left: 10px;
    color: #fff;
}

.sb4-caidat {
    width: 800px;
    margin: 20px 50px;
    flex-direction: column;
}
.sb4-caidat .info-section {
    margin-bottom: 20px;
    width: 100%;
}
.sb4-caidat .info-section h2 {
    font-size: 18px;
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
    text-align: left;
}
.sb4-caidat .info-section h2 .change-link {
    flex: 1;
    max-width: 70px;
    text-align: right;
    font-weight: normal;
}
.sb4-caidat .info-item {
    display: flex;
    justify-content: space-between; 
    align-items: center;
    padding: 10px 0;
    border-bottom: 1px solid #ddd;
}
.sb4-caidat .info-item {
    font-size: 14px;
}
.sb4-caidat .info-item .info-label {
    flex: 1;
    text-align: left;
}
.sb4-caidat .info-item .info-value {
    flex: 1;
    text-align: left;
}
.sb4-caidat .change-link, .change-link-placeholder {
    flex: 1;
    max-width: 70px;
    text-align: right;
    color: #007bff;
    text-decoration: none;
    font-size: 14px;
}
.sb4-caidat .change-link:hover {
    text-decoration: underline;
}
.sb4-caidat .change-link-placeholder {
    visibility: hidden;
}

/* Nội dung hộp thoại thay đổi mật khẩu*/
.sb4-caidat .modal {
    display: none; /* Ẩn ban đầu */
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    /* overflow: auto; */
    background-color: rgba(0, 0, 0, 0.4);
}
.sb4-caidat .modal-content {
    background-color: #fff;
    margin: 120px auto; /* Căn giữa theo chiều dọc */
    padding: 30px;
    border: 1px solid #888;
    width: 80%;
    max-width: 500px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
.sb4-caidat .modal-content .close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}
.sb4-caidat .modal-content .close:hover,
.sb4-caidat .modal-content .close:focus {
    color: #000;
    text-decoration: none;
}
.sb4-caidat .modal-content h2 {
    padding: 0px 25%;
}
.sb4-caidat .modal-content form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.sb4-caidat .modal-content form label {
    font-weight: bold;
}
.sb4-caidat .modal-content form input {
    padding: 8px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 15px;
}
.sb4-caidat .modal-content form button {
    background-color: rgb(43, 43, 251);
    color: white;
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
.sb4-caidat .modal-content form button:hover {
    background-color: blue;
}

/* Nội dung hộp thoại thay đổi thông tin cá nhân */
.sb4-caidat .modal2 {
    display: none; /* Ẩn ban đầu */
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    /* overflow: auto; */
    background-color: rgba(0, 0, 0, 0.4);
}
.sb4-caidat .modal2-content {
    background-color: #fff;
    margin: 80px auto; /* Căn giữa theo chiều dọc */
    padding: 30px;
    border: 1px solid #888;
    width: 80%;
    max-width: 500px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
.sb4-caidat .modal2-content .close2 {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}
.sb4-caidat .modal2-content .close2:hover,
.sb4-caidat .modal2-content .close2:focus {
    color: #000;
    text-decoration: none;
}
.sb4-caidat .modal2-content h2 {
    padding: 0px 20%;
}
.sb4-caidat .modal2-content form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.sb4-caidat .modal2-content form label {
    font-weight: bold;
}
.sb4-caidat .modal2-content form input {
    padding: 8px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 15px;
}
.sb4-caidat .modal2-content form select {
    padding: 8px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 15px;
    background-color: white;
    cursor: pointer;
}
.sb4-caidat .modal2-content form button {
    background-color: rgb(43, 43, 251);
    color: white;
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
.sb4-caidat .modal2-content form button:hover {
    background-color: blue;
}