body {
  margin: 0;
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  /* align-items: center; */
  height: 105vh;
  background: #1a73e8;
}

.container {
  display: flex;
  width: 600px;
  height: 720px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.left {
  flex: 1;
  padding: 10px 25px 40px 50px;
  background: #fff;
}

.left .left-logo {
  text-align: center;
  margin-bottom: 20px;
}

h2 {
  text-align: center;
  margin-bottom: 30px;
  color: #333;
}

.left form {
  display: flex;
  flex-wrap: wrap;
}

.left form label {
  display: flex;
  font-weight: bold;
}

.left form input {
  width: 95%;
  padding: 10px 0px 10px 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.left form .form-group-normal {
  width: 97%;
  margin-bottom: 20px;
}

.left form .form-group-half {
  width: 45%;
  margin-bottom: 20px;
  padding-right: 20px;
}

/* #full_name, #username{
  width: 95%;
  padding: 10px 0px 10px 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
} */

/* #password, #confirm_password, #email, #phonenumber{
  width: 40%;
  padding: 10px 0px 10px 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
} */
/* #password, #confirm_password {
  width: 48%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
} */

/* .form-group a {
  float: right;
  text-decoration: none;
  color: #1a73e8;
  padding-top: 10px;
}

.form-group a:hover {
  text-decoration: underline;
} */

/* chọn tỉnh */
.form-group select {
  width: 97%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: #fff;
  font-size: 14px;
  cursor: pointer;
}

/* Cải thiện khi hover */
.form-group select:hover {
  border-color: #1a73e8;
}

/* Tùy chỉnh khi focus vào select */
.form-group select:focus {
  border-color: #1a73e8;
  outline: none;
}

/* Cải thiện hiển thị option trong select */
.form-group select option {
  padding: 10px;
  font-size: 14px;
  background-color: #fff;
}

.form-group .half {
  width: 40%;
}

.left form .button-container {
  width: 97%;
  display: flex;
  justify-content: left;
  gap: 10px;
}

.left form  .btn {
  text-decoration: none;
  padding: 13px 40px;
  background: #1a73e8;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 15px;
}

.left form .btn-dangky {
  /* flex: 0 0 100%; */
  width: 97%;
}

.left form .btn:hover {
  background: #155ab6;
}

.left p {
  width: 94%;
  text-align: center;
  margin-top: 20px;
}

.left p a {
  color: #1a73e8;
  text-decoration: none;
}

.left p a:hover {
  text-decoration: underline;
}
